body {

    color: navy;
    font-size: 200%;
    background-color: mediumslateblue;
font-family: Arial, Helvetica, sans-serif;

}

h1{

    font-size: 40px;

}

ul{

font-size: 30px;

}